.my-green {
    color: #4FD197;
}

.bg-segondaire {
    background-color: #192C41;
    /* #284059 ???*/
}

.bg-secondaire {
    background-color: #284059;
}

.custom-border {
    border-top: 3px solid #4FD197;
    border-right: 3px solid #4FD197;
    border-left: 3px solid #4FD197;
    box-shadow: inset 0px -8px 15px #4FD197;
}

.custom-environement {
    border-top: 3px solid #6EBDB1;
    border-right: 3px solid #6EBDB1;
    border-left: 3px solid #6EBDB1;
    box-shadow: inset 0px -8px 15px #6EBDB1;
}

.bg-environnement {
    color: #6EBDB1;
}

.dot {
    background-color: #6EBDB1;
}


/* animation techno
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marquee-track {
    display: flex;
    gap: 40px;
    width: max-content;
    /* animation: marquee 10s linear infinite alternate; */
    /* animation: marquee 20s linear 1s infinite running; */
    /* animation: marquee 13s ease-in 20s infinite reverse running; */
/* } */

/* .marquee-track:hover {
    animation-play-state: paused;
} */